<template>
  <v-app>
    <v-app-bar
      app
      color="deep-purple"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          src="./assets/gitlab-logo-gray-stacked-rgb.png"
          alt="GitLab Logo"
          class="shrink mr-2"
          contain
          transition="scale-transition"
          width="40"
        />
        
        <v-toolbar-title>Tanuki Super Lab</v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Labs Guide</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <Main/>
    </v-main>
  </v-app>
</template>

<script>
import Main from './components/Main';

export default {
  name: 'App',

  components: {
    Main,
  },

  data: () => ({
    //
  }),
};
</script>
